<!--## NOTE

For github convenience, the datasamples are packaged as `datasample.zip` in this directory. 
To run the following demo code, you need to unzip the file before you start. 
The `assert` statementes in the 2nd cell will help you double-check on this issue. -->

In [1]:
import os, sys, shutil, time
import json, pickle
import pandas as pd
import numpy as np

In [2]:
WORKDIR = os.getcwd()

DATASAMPLE = os.path.join(WORKDIR, 'datasample/')
RAWZILLOW = os.path.join(DATASAMPLE, 'merge_sold/')
RAWREDFIN = os.path.join(DATASAMPLE, 'redfin_scraped/')
RAWIMGS = os.path.join(DATASAMPLE, 'imgs_demo/')
IMGFEATS = os.path.join(DATASAMPLE, 'imgs_feat/')
OUTPUTS = os.path.join(DATASAMPLE, 'dataflow_output/')

assert(os.path.isdir(DATASAMPLE))
assert(os.path.isdir(RAWZILLOW))
assert(os.path.isdir(RAWREDFIN))
assert(os.path.isdir(RAWIMGS))
assert(os.path.isdir(IMGFEATS))
assert(os.path.isdir(OUTPUTS))

WORKDIR

'/Users/shell/Documents/Projects/ac209b_final/dataflow'

## 1. Fetch Longitude-Latitude Data
- This section requires the pre-installation of `googlemap`
- The lng-lat data only needs to be collected once

In [3]:
from dataframe_expansion import LngLatFetcher

In [4]:
raw_zillow_list = [
    os.path.join(RAWZILLOW, fname) 
        for fname in os.listdir(RAWZILLOW) 
            if fname.endswith('.csv')]
raw_zillow_list

['/Users/shell/Documents/Projects/ac209b_final/dataflow/datasample/merge_sold/MERGE_CON_SOLD.csv',
 '/Users/shell/Documents/Projects/ac209b_final/dataflow/datasample/merge_sold/MERGE_MF_SOLD.csv',
 '/Users/shell/Documents/Projects/ac209b_final/dataflow/datasample/merge_sold/MERGE_SF_SOLD.csv']

In [5]:
lnglat_fetcher = LngLatFetcher(*raw_zillow_list)

/Users/shell/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (3,4,18,29) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/shell/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (4,19,27,29) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

ZIP data loaded. There are 1242 ZIPCODE, CITY and STATE combinations in total.

In [6]:
lnglat_fetcher.fetch(gmap_key='AIzaSyAnoOOhqNA0LNHntbnAbuYGE_tMmNZbkRY')

Getting lng/lat of 1241/1242 entry...

In [7]:
lnglat_fetcher.to_csv(os.path.join(OUTPUTS, 'LNG-LAT_from_ZIP.csv'))

## 2. Extract Image Feature

In [8]:
from image_transform import ImageFeatureExtractor

/Users/shell/anaconda/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

Initializing ResNet50...Model is ready.

In [9]:
raw_img_dir = RAWIMGS
os.listdir(raw_img_dir)[:5]

['72083975_img_6.jpg',
 '72083975_img_9.jpg',
 '72084035_img_10.jpg',
 '72084035_img_13.jpg',
 '72084035_img_16.jpg']

In [10]:
img_feat_extractor = ImageFeatureExtractor(raw_img_dir)

Image directory resolved. 0/100 images of 0/13 properties extracted.

In [11]:
img_feat_extractor.extract(n_chunk=3, outpath=os.path.join(OUTPUTS, 'resnet_feat_demo.pkl'))

Chunck - 1/3
5/5, in 00:00:09 seconds
36/100 images of 5/13 properties extracted

Chunck - 2/3
4/4, in 00:00:08 seconds
72/100 images of 9/13 properties extracted

Chunck - 3/3
4/4, in 00:00:06 seconds
100/100 images of 13/13 properties extracted

The extracted features are dumped to file `resnet_feat_demo.pkl` as a dictionay of feature arrays at the end of each chunk.

If you are dealing with a large number of properties, you may want to clear the in-memory cache after it is saved.

In [12]:
img_feat_extractor.clear_cache()

## 3. Format Scraped Data

In [13]:
from dataframe_processing import ScrapedDataFormatter

In [14]:
raw_redfin_list = [
    os.path.join(RAWREDFIN, fname) 
        for fname in os.listdir(RAWREDFIN) 
            if fname.endswith('.json')]
raw_redfin_list

['/Users/shell/Documents/Projects/ac209b_final/dataflow/datasample/redfin_scraped/cache_redfin_con_14000.json',
 '/Users/shell/Documents/Projects/ac209b_final/dataflow/datasample/redfin_scraped/cache_redfin_con_14000_28000.json',
 '/Users/shell/Documents/Projects/ac209b_final/dataflow/datasample/redfin_scraped/cache_redfin_con_28000.json']

In [15]:
sd_formatter = ScrapedDataFormatter(*raw_redfin_list)

Scraped data loaded. 39314 properties in record.

In [16]:
sd_formatter.format()
sd_formatter.df.head()

Scraped data formatted into dataframe. Shape: 39314 x 33.

,mls,property_style,beds,baths,sqft_living,sqft_finished,sqft_unfinished,sqft_total,stories,property_type,...,school_distances_middle_max,school_distances_middle_min,school_ratings_high_avg,school_number_high,school_distances_high_max,school_distances_high_min,walk_score,transit_score,bike_score,num_photo
0,70903701,"Garden, Garden",2.0,2.0,1071.0,1071.0,NaN,1071.0,NaN,Condo/Co-op,...,1.1,0.5,5.0,5.0,3.7,1.1,85.0,41.0,NaN,13.0
1,70903999,"Garden, Garden",2.0,2.0,1151.0,1151.0,NaN,1151.0,NaN,Condo/Co-op,...,1.1,0.5,5.0,5.0,3.7,1.1,85.0,41.0,NaN,12.0
2,71378749,"Townhouse, Townhouse",2.0,2.5,2389.0,NaN,NaN,NaN,NaN,Townhouse,...,1.7,1.1,4.0,5.0,2.1,1.4,30.0,26.0,NaN,20.0
3,71482776,"Townhouse, Mid-Rise, Brownstone, Loft, Townhou...",2.0,1.5,1330.0,1330.0,NaN,1330.0,2.0,Townhouse,...,0.7,0.2,2.5,5.0,1.7,0.1,96.0,50.0,NaN,28.0
4,71498924,"Townhouse, Townhouse",2.0,1.0,1122.0,1122.0,NaN,1122.0,1.0,Townhouse,...,3.8,3.7,6.0,5.0,3.7,0.1,34.0,NaN,NaN,18.0

In [17]:
sd_formatter.to_csv(os.path.join(OUTPUTS, 'redfin_CON.csv'))

## 4. Format Image Feature

In [18]:
from dataframe_processing import ImageFeatureFormatter

In [19]:
img_feat_list = [
    os.path.join(IMGFEATS, fname) 
        for fname in os.listdir(IMGFEATS) 
            if fname.endswith('.pkl')]
img_feat_list

['/Users/shell/Documents/Projects/ac209b_final/dataflow/datasample/imgs_feat/resnet_feature_con_14000.pkl',
 '/Users/shell/Documents/Projects/ac209b_final/dataflow/datasample/imgs_feat/resnet_feature_con_14000_28000.pkl',
 '/Users/shell/Documents/Projects/ac209b_final/dataflow/datasample/imgs_feat/resnet_feature_con_28000.pkl']

In [20]:
img_feat_formatter = ImageFeatureFormatter(*img_feat_list)

Image features loaded. 39709 properties in record.

In [21]:
img_feat_formatter.format()
img_feat_formatter.df.head()

Image feature data formatted into dataframe. Shape 39709 x 2048

,0,1,2,3,4,5,6,7,8,9,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
70903701,0.095323,0.516643,0.199785,1.629063,0.133814,0.293976,0.266121,0.176223,1.318233,1.252553,...,0.072841,0.051291,0.529569,0.067074,0.228755,0.096833,0.818195,1.013932,0.242349,0.145025
70903999,0.110592,0.378274,0.203654,1.639346,0.158911,0.259082,0.592169,0.143172,0.883127,0.859853,...,0.082246,0.048052,0.641305,0.150609,0.183850,0.118248,0.641936,1.268028,0.191304,0.187678
71378749,0.268854,0.432335,0.127339,2.949861,0.114238,0.295742,0.455082,0.198076,1.091344,1.008217,...,0.036199,0.158910,0.725249,0.167896,0.085214,0.095114,0.606220,0.548279,0.201569,0.276891
71482776,0.078313,0.301756,0.066001,1.394495,0.306846,0.130174,0.787617,0.109922,1.027333,0.462687,...,0.116864,0.125544,0.602876,0.022858,0.455391,0.108163,0.903394,0.352796,0.135676,0.362971
71498924,0.253997,0.894976,0.155343,1.792268,0.067213,0.363466,0.316596,0.218333,1.361499,0.957112,...,0.189716,0.112382,0.940322,0.104880,0.147426,0.343115,1.129136,0.181388,0.314849,0.385144

In [22]:
img_feat_formatter.to_pkl(os.path.join(OUTPUTS, 'imgs_feat_CON.pkl'))

In [23]:
img_feat_formatter.clear_cache()

## 5. Final Merge

In [24]:
from dataframe_processing import Finalizer

In [25]:
finalizer = Finalizer(os.path.join(RAWZILLOW, 'MERGE_CON_SOLD.csv'))
finalizer.df.head()

/Users/shell/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (3,4,18) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Zillow data loaded. Shape: 40936 x 14.

,MLSNUM,LISTPRICE,SOLDPRICE,DOM,DTO,CITY,STATE,ZIP,SQFT,AGE,LOTSIZE,GARAGE,LISTMONTH,SOLDMONTH
0,71498924,169900.0,177500.0,709,618.0,Merrimac,MA,1860,1283.0,12.0,NaN,2.0,3,1
1,71500500,279900.0,295850.0,897,870.0,Leicester,MA,1524,1368.0,3.0,1306800.0,2.0,3,1
2,71595485,449900.0,470519.0,658,658.0,Tyngsborough,MA,1879,1850.0,5.0,5000.0,2.0,10,1
3,71599223,389500.0,383500.0,804,759.0,Salem,MA,1970,1502.0,117.0,8400.0,1.0,10,1
4,71661544,237000.0,232000.0,467,467.0,Salem,MA,1970,1469.0,38.0,NaN,0.0,4,1

Several clean-ups are done loading the zillow raw data:
- column `MLSNUM` is casted into `str` type
- other numeric columns are unified with `float` type
- the original `LISTDATE` and `SOLDDATE` are converted into `LISTMONTH` and `SOLDMONTH`
- negative values in `LISTPRICE`, `SQFT`, `AGE`, `LOTSIZE` and `GARAGE` are replaced with `np.nan`
- properties with negative `SOLDPRICE`, `DOM` or `DTO` values are dropped
- properties with non-MA `STATE` values are dropped

In [26]:
finalizer.merge_lnglat(os.path.join(OUTPUTS, 'LNG-LAT_from_ZIP.csv'))
finalizer.to_csv(os.path.join(OUTPUTS, 'final_CON_zillow.csv'))
finalizer.df.head()

LNG-LAT data merged. Shape: 40936 x 13.

,MLSNUM,LISTPRICE,SOLDPRICE,DOM,DTO,SQFT,AGE,LOTSIZE,GARAGE,LISTMONTH,SOLDMONTH,LAT,LNG
0,71498924,169900.0,177500.0,709,618.0,1283.0,12.0,NaN,2.0,3,1,NaN,NaN
1,71905628,242000.0,235000.0,91,81.0,1286.0,14.0,NaN,1.0,9,1,NaN,NaN
2,71918879,209000.0,209000.0,78,37.0,1155.0,32.0,NaN,0.0,10,1,NaN,NaN
3,71952614,339900.0,350695.0,1,1.0,1210.0,3.0,NaN,1.0,1,1,NaN,NaN
4,71912071,299900.0,280000.0,83,71.0,1683.0,10.0,NaN,1.0,9,2,NaN,NaN

This makes an inner join on `ZIP`, `CITY` and `STATE`, which are latter dropped.

In [27]:
finalizer.merge_redfin(os.path.join(OUTPUTS, 'redfin_CON.csv'))
finalizer.to_csv(os.path.join(OUTPUTS, 'final_CON_zillow_redfin.csv'))
finalizer.df.head()

Redfin data merged. Shape: 40936 x 38.

,MLSNUM,LISTPRICE,SOLDPRICE,DOM,DTO,AGE,LOTSIZE,GARAGE,LISTMONTH,SOLDMONTH,...,school_distances_middle_min,school_ratings_high_avg,school_number_high,school_distances_high_max,school_distances_high_min,walk_score,transit_score,bike_score,num_photo,sqft_finished
0,71498924,169900.0,177500.0,709,618.0,12.0,NaN,2.0,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,71905628,242000.0,235000.0,91,81.0,14.0,NaN,1.0,9,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,71918879,209000.0,209000.0,78,37.0,32.0,NaN,0.0,10,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,71952614,339900.0,350695.0,1,1.0,3.0,NaN,1.0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,71912071,299900.0,280000.0,83,71.0,10.0,NaN,1.0,9,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This makes a left join on `MLSNUM` (left) / `mls` (right). Several clean-ups are done during the process:
- non-numeric redfin columns are dropped
- zillow `AGE` column is corrected by redfin `year_built`
- the `sqft`-like columns are reduce to `sqft_finished` and `sqft_unfinished`

In [28]:
finalizer.merge_img(os.path.join(OUTPUTS, 'imgs_feat_CON.pkl'))
finalizer.to_pkl(os.path.join(OUTPUTS, 'final_CON_zillow_redfin_imgs.pkl'))
finalizer.df.head()

Image data merged. Shape: 40936 x 2086.

,MLSNUM,LISTPRICE,SOLDPRICE,DOM,DTO,AGE,LOTSIZE,GARAGE,LISTMONTH,SOLDMONTH,...,resnet_2038,resnet_2039,resnet_2040,resnet_2041,resnet_2042,resnet_2043,resnet_2044,resnet_2045,resnet_2046,resnet_2047
0,71498924,169900.0,177500.0,709,618.0,12.0,NaN,2.0,3,1,...,0.189716,0.112382,0.940322,0.104880,0.147426,0.343115,1.129136,0.181388,0.314849,0.385144
1,71905628,242000.0,235000.0,91,81.0,14.0,NaN,1.0,9,1,...,0.189537,0.097927,2.036207,0.169374,0.386018,0.159283,0.267450,1.027563,0.218744,0.273669
2,71918879,209000.0,209000.0,78,37.0,32.0,NaN,0.0,10,1,...,0.054234,0.028724,0.801957,0.303854,0.065759,0.098864,0.784945,1.562056,0.183976,0.415394
3,71952614,339900.0,350695.0,1,1.0,3.0,NaN,1.0,1,1,...,0.149968,0.252659,2.011606,0.069289,0.159074,0.057379,1.281780,0.975176,0.233389,0.804610
4,71912071,299900.0,280000.0,83,71.0,10.0,NaN,1.0,9,2,...,0.091527,0.222217,1.062608,0.104116,0.112099,0.135850,1.107761,0.381154,0.143897,0.390986

This makes a left join on `MLSNUM` (left) / row-index (right). The image feature columns are renamed into a `resnet_XX` format.

## 6. Workflow

All methods illustrated above returns the `self` reference back, so in real practice you can apply those operations successively in just "one" line. 

For example, the multi-functional finalizer can do:

In [29]:
Finalizer(os.path.join(RAWZILLOW, 'MERGE_CON_SOLD.csv')) \
    .merge_lnglat(os.path.join(OUTPUTS, 'LNG-LAT_from_ZIP.csv')) \
    .to_csv(os.path.join(OUTPUTS, 'final_CON_zillow.csv')) \
    .merge_redfin(os.path.join(OUTPUTS, 'redfin_CON.csv')) \
    .to_csv(os.path.join(OUTPUTS, 'final_CON_zillow_redfin.csv')) \
    .merge_img(os.path.join(OUTPUTS, 'imgs_feat_CON.pkl')) \
    .to_pkl(os.path.join(OUTPUTS, 'final_CON_zillow_redfin_imgs.pkl')) \
    .df.head()

/Users/shell/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2827: DtypeWarning: Columns (3,4,18) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

Zillow data loaded. Shape: 40936 x 14.
LNG-LAT data merged. Shape: 40936 x 13.
Redfin data merged. Shape: 40936 x 38.
Image data merged. Shape: 40936 x 2086.

,MLSNUM,LISTPRICE,SOLDPRICE,DOM,DTO,AGE,LOTSIZE,GARAGE,LISTMONTH,SOLDMONTH,...,resnet_2038,resnet_2039,resnet_2040,resnet_2041,resnet_2042,resnet_2043,resnet_2044,resnet_2045,resnet_2046,resnet_2047
0,71498924,169900.0,177500.0,709,618.0,12.0,NaN,2.0,3,1,...,0.189716,0.112382,0.940322,0.104880,0.147426,0.343115,1.129136,0.181388,0.314849,0.385144
1,71905628,242000.0,235000.0,91,81.0,14.0,NaN,1.0,9,1,...,0.189537,0.097927,2.036207,0.169374,0.386018,0.159283,0.267450,1.027563,0.218744,0.273669
2,71918879,209000.0,209000.0,78,37.0,32.0,NaN,0.0,10,1,...,0.054234,0.028724,0.801957,0.303854,0.065759,0.098864,0.784945,1.562056,0.183976,0.415394
3,71952614,339900.0,350695.0,1,1.0,3.0,NaN,1.0,1,1,...,0.149968,0.252659,2.011606,0.069289,0.159074,0.057379,1.281780,0.975176,0.233389,0.804610
4,71912071,299900.0,280000.0,83,71.0,10.0,NaN,1.0,9,2,...,0.091527,0.222217,1.062608,0.104116,0.112099,0.135850,1.107761,0.381154,0.143897,0.390986

## 7. Other Notes

- The modules and classes involved in this demo are:
    - `image_transform`      :  `ImageFeatureExtractor`
    - `dataframe_expansion`  :  `LngLatFetcher`
    - `dataframe_processing` :  `ScrapedDataFormatter`, `ImageFeatureFormatter`, `Finalizer`


- If nan types other than `np.nan` is desired, one can reassign the `dataframe_processing.DEFAULT_NAN` variable:
    ```
    dataframe_processing.DEFAULT_NAN = some_value_denoting_nan

    ```
    This affects the nans filled in during the process, but doesn't guarantee that all nans in the resulting dataframes are replaced with the newly provided value.